apiVersion: apps/v1
kind: Deployment
metadata:
  name: logout
  namespace: tms-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: logout
  template:
    metadata:
      labels:
        app: logout
    spec:
      containers:
        - name: logout
          image: cluster1devacr.azurecr.io/tms-logout-img:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: logout-service
  namespace: tms-app
spec:
  selector:
    app: logout
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
